# Datatypes
- #### Integer

In [5]:
1+1

2

In [6]:
a=4
type(a)

int

In [7]:
type(1)

int

- #### Float

In [8]:
type(1.1)

float

- #### Complex

In [20]:
a=1.1 + 0.5j
print(a,type(0+4j), type(a), a.real, a.imag)

(1.1+0.5j) <class 'complex'> <class 'complex'> 1.1 0.5

- #### Boolean

In [21]:
a=2>3
print(a, type(a), type(2>3))

False <class 'bool'> <class 'bool'>

***
# Mathematical operators

In [24]:
print(7*3.5, "Multiply")

24.5 Multiply

In [25]:
print("Power 2^10", 2**10)

Power 2^10 1024

***
# Type Conversion

In [26]:
print(1, type(1), float(1), type(float(1)))

1 <class 'int'> 1.0 <class 'float'>

***
# Containers
- #### List

In [51]:
a = [1,2,4,5,6, '5']
print(a, type(a))

[1, 2, 4, 5, 6, '5'] <class 'list'>

***
# Indexing and slicing
- #### Indexing
** syntax :** a[start:stop:strinde]

In [31]:
print(a[1])

2

- #### Slicing

In [34]:
a[2:5]

[4, 5, 6]

In [35]:
a[2] = 0

In [36]:
a

[1, 2, 0, 5, 6, '5']

In [37]:
a[1:4] = ['a', 'b', 'c']

In [38]:
a

[1, 'a', 'b', 'c', 6, '5']

In [40]:
a[1], a[2]

('a', 'b')

In [41]:
a.append(100)

In [42]:
a

[1, 'a', 'b', 'c', 6, '5', 100]

In [43]:
a.pop()

100

In [69]:
a=[1,2,3,4]

In [70]:
a.extend([1,2])

In [71]:
print(a)

[1, 2, 3, 4, 1, 2]

In [72]:
print(a[:3])

[1, 2, 3]

In [75]:
print(a[:-2])

[1, 2, 3, 4]

In [79]:
a[-3:]

[4, 1, 2]

- #### Adding two list

In [77]:
b=a[:]
a = a+b

In [78]:
a

[1, 2, 3, 4, 1, 2, 1, 2, 3, 4, 1, 2]

In [80]:
a*2

[1, 2, 3, 4, 1, 2, 1, 2, 3, 4, 1, 2, 1, 2, 3, 4, 1, 2, 1, 2, 3, 4, 1, 2]

***
- #### Strings
*It can work completely as list *

In [85]:
a,b,c='1aasd yo',"hahahaha ssup", '''Hellow
World'''
print(a,b,c)

1aasd yo hahahaha ssup Hellow
World

In [88]:
c[0], c[-6]

('H', '\n')

In [90]:
c[::2] #syntax: a[start:stop:step]

'Hlo\nol'

In [92]:
c[2]='z'

TypeError: 'str' object does not support item assignment

In [93]:
c = c[:2] + 'z' + c[3:]

In [94]:
c

'Hezlow\nWorld'

*for sring formating
we use %i for int, %f for float, %s for string

In [96]:
"%i for int, %f for float, comples as %f + %f,%s for string"%(1,2,6+7j,'hahha')

ValueError: unsupported format character 'j' (0x6a) at index 38

- #### Dictonaries

In [97]:
dic = {'Name':'Govind', 'Surname':'Singh'}

In [100]:
print(dic['Name'], type(dic))

Govind <class 'dict'>

In [101]:
dic['Actual_name']='Ray Dragon'

In [103]:
dic

{'Actual_name': 'Ray Dragon', 'Name': 'Govind', 'Surname': 'Singh'}

In [104]:
dic.keys()

dict_keys(['Name', 'Surname', 'Actual_name'])

In [105]:
dic.values()

dict_values(['Govind', 'Singh', 'Ray Dragon'])

In [108]:
'Name' in dic

True

In [109]:
'Govind' in dic.values()

True

- #### Touples
imutable list

In [121]:
t=1,2,3
print(t, type(t))

(1, 2, 3) <class 'tuple'>

- #### Sets
Gives only unique value

In [120]:
a={1,2,3,3,3}
print(a, type(a), set((1,1,1)))

{1, 2, 3} <class 'set'> {1}

In [122]:
a-{1,2}

{3}

In [123]:
a=[1,2,3]
b=a
a

[1, 2, 3]

In [124]:
b

[1, 2, 3]

In [125]:
a is b

True

In [126]:
b[1]='hq'

In [127]:
a

[1, 'hq', 3]

In [128]:
a=1
b=a
b=3
a

1

# Control Flow 
- #### if/else/elif
*syntax :
`
if test_condition:
       .
       .
       .
       .
elif test_condition:
       .
       .
       .
       .
else:
        .
        .
        .
        .
`

In [135]:
a=1
if a==1:
    print(1)
elif a==2:
    print(2)
else:
    print('a lot')

1

- #### For/range

In [136]:
for i in range(4):
    print(i)

0
1
2
3

- #### while/break/continue

In [137]:
n,Sum,i = 10,0,1
while i<=n:
    Sum += i
    i += 1

In [138]:
Sum

55

In [139]:
vowels = 'aeiou'
for i in 'powerful':
    if i in vowels:
        print(i, end=',')

o,e,u,

In [141]:
mess = 'hellow how are you'

In [146]:
for x in mess.split():
    print(x, type(x))

hellow <class 'str'>
how <class 'str'>
are <class 'str'>
you <class 'str'>

In [148]:
a = ('cool', 'powerful', 'readable')

In [151]:
for index, item in enumerate(a):
    print((index, type(index)), (item, type(item)))

(0, <class 'int'>) ('cool', <class 'str'>)
(1, <class 'int'>) ('powerful', <class 'str'>)
(2, <class 'int'>) ('readable', <class 'str'>)

In [152]:
print(enumerate(a))

<enumerate object at 0x0000020C5975C480>

In [153]:
for x in enumerate(a):
    print(x)

(0, 'cool')
(1, 'powerful')
(2, 'readable')

In [161]:
d = {'a':1, 'b':2.3, 'c':1j}
for key, val in sorted(d.items()):
    print(key,val)

a 1
b 2.3
c 1j

In [158]:
print(sorted(d.items()), d.items())

[('a', 1), ('b', 2.3), ('c', 1j)] dict_items([('a', 1), ('b', 2.3), ('c', 1j)])

In [162]:
for key, val in d.items():
    print(key,val)

a 1
b 2.3
c 1j

In [163]:
def fun_name():
    print('''
    .
    .
    .
    .
    codes
    .
    .
    .
    .
    ''')

In [164]:
fun_name()

    .
    .
    .
    .
    codes
    .
    .
    .
    .

In [172]:
def discArea(radius):
    return radius**2*3.14

In [173]:
discArea(2)

12.56

#### *Note:
- By default the function return None
- Syntax of function defination
    - the def keywords
    - followed by function name and function brackets
    - the arguments of function are given comma seperated in function brackets
    - the function body
    - return object for optionally retuning values